<%= form_for(@lesson) do |f| %>
	<% if @lesson.errors.any? %>
		<div id="error_explanation">
			<h2><%pluralize(@lesson.errors.count, "error") %> stoped you from requesting a tutor: </h2>
			<ul>
				<% @lesson.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :topic %>
		<%= f.text_area :topic %>
	</div>
