<p id="notice"><%= notice %></p>

<!-- I'll put the drawingboard here when i figure out how to do it...-->
<br /> <br />
<div id="whiteboard" data-lessonid="<%= @lesson.id %>"></div>

<img src="" class="board_img" ></img>

<style>
    #whiteboard {
        width: 500px;
        height: 500px;
    }
</style>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>

<script>
    var customBoard2 = new DrawingBoard.Board('whiteboard', {
	controls: [
		'Color',
		{ DrawingMode: { filler: false } },
		'Navigation',
		'Download'
	],
	size: 1,
	webStorage: 'local',
	});

 //    function blah(){
 //    	console.log(this);
 //    	var blah = localStorage.getItem("drawing-board-whiteboard");
 //    	$('.board_img').attr("src", blah);
 //    }
	// customBoard2.ev.bind('board:stopDrawing', blah);

</script>

<script>
var pusher = new Pusher('9a14047c1a26a60a9e48')
var lesson = $('#whiteboard').data('lessonid')
var channel = pusher.subscribe("lesson")
function blah(){
	console.log(this);
	var blah = localStorage.getItem("drawing-board-whiteboard");
	$('.board_img').attr("src", blah);
}
chanel.bind('board:stopDrawing', blah())
</script>

